# Archivos de Git
.git
.gitignore

# Archivos de Maven
target/
!target/*.jar

# Archivos de IDE
.idea/
*.iml
.vscode/
*.swp
*.swo

# Archivos del sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Archivos temporales
*.tmp
*.temp

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Documentación
README.md
*.md

# Archivos de configuración local
application-local.yml
application-dev.yml 